

  nav.navbar {
    background-color: var(--darkgrey);
}
     
  a.navbar-item{
    color: var(--teal); 
    padding: 0.5rem 1.75rem;
    background: none;
  }

  a.navbar-item:hover,
  a.navbar-item:focus{
    background-color: var(--darkgrey) !important;
    color: var(--lightgray) !important;
    text-decoration: none;
  }
    

.navbar-brand{
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia;
  }

  .mainnav a.navbar-burger span{
    background-color: lightgray;
  }
   
  @media screen and (max-width: 1024px) {

 
    .mainnav a.navbar-burger{
      float: right;
    }

    .navbar-menu.is-active {
      background-color: #363636 !important;
      text-align: left;
  }

  }
